<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="IOSectionConfig" type="ParkingManagement.IOConfigSection, ParkingManagement"/>
   </configSections>
   <IOSectionConfig>
      <InputFile Name="C:\Users\HYS\Downloads\ТОПОЛЬКИ Реестр оплат  2019.xlsx"/>
      <OutputFile Name="read-payment-records-output.text"/>
   </IOSectionConfig>
</configuration>